*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightcyan;
  font-family: sans-serif;
}

h1 { 
  color: aliceblue;
 
  text-align: center;
  background-color: rgb(248, 200, 224);
}

h2 {
  color: rgb(254, 188, 221);
text-align: left;
}