*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightcyan;
  font-family: sans-serif;
}

h1 { 
  color: cornflowerblue;
 
  text-align: center;
}

h2 {
  color: cornflowerblue;
text-align: left;
}